## Iris Classifier

In [1]:
from sklearn import datasets
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix
from sklearn.preprocessing import Normalizer,StandardScaler
from sklearn.decomposition import PCA
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
import pandas as pd
import seaborn as sns
import streamlit as st
import matplotlib.pyplot as plt
import joblib
import streamlit as st
%matplotlib inline

In [2]:
df_i=datasets.load_iris()

In [3]:
df=pd.DataFrame(data=df_i.data,columns=df_i.feature_names)
df['target']=df_i.target

In [4]:
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

In [5]:
# check for duplicates
df.duplicated().any()

True

In [6]:
df[df.duplicated()]

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
142,5.8,2.7,5.1,1.9,2

In [7]:
df.drop_duplicates(inplace=True,ignore_index=True)

In [8]:
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
144,6.7,3.0,5.2,2.3,2
145,6.3,2.5,5.0,1.9,2
146,6.5,3.0,5.2,2.0,2
147,6.2,3.4,5.4,2.3,2
148,5.9,3.0,5.1,1.8,2

In [9]:
# check for Null values
df.isna().any()

sepal length (cm)    False
sepal width (cm)     False
petal length (cm)    False
petal width (cm)     False
target               False
dtype: bool

In [10]:
# dtypes of our columns
df.dtypes

sepal length (cm)    float64
sepal width (cm)     float64
petal length (cm)    float64
petal width (cm)     float64
target                 int64
dtype: object

In [11]:
df.describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
count,149.000000,149.000000,149.000000,149.000000,149.000000
mean,5.843624,3.059732,3.748993,1.194631,0.993289
std,0.830851,0.436342,1.767791,0.762622,0.817847
min,4.300000,2.000000,1.000000,0.100000,0.000000
25%,5.100000,2.800000,1.600000,0.300000,0.000000
50%,5.800000,3.000000,4.300000,1.300000,1.000000
75%,6.400000,3.300000,5.100000,1.800000,2.000000
max,7.900000,4.400000,6.900000,2.500000,2.000000

In [12]:
# check for data balancement
df.target.value_counts()

target
0    50
1    50
2    49
Name: count, dtype: int64

### training a model without further data preprocessing

In [13]:
x=df.iloc[:,:-1]
y=df.iloc[:,-1]

In [14]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25,random_state=42)

In [22]:
# standard scaler
scaler=Normalizer()
x_scl_train=scaler.fit_transform(x_train)
x_scl_test=scaler.transform(x_test)

In [23]:
classifier=DecisionTreeClassifier()#SVC()

In [33]:
classifier.fit(x_scl_train,y_train)
y_pred=classifier.predict(x_scl_test)
accuracy_score(y_test,y_pred)

0.9736842105263158

In [34]:
confusion_matrix(y_test,y_pred)
#classification_report()

array([[15,  0,  0],
       [ 0, 10,  1],
       [ 0,  0, 12]])

In [42]:
joblib.dump(classifier,'iris_svc.pkl')

['iris_svc.pkl']

In [43]:
df_i.feature_names

['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']

In [44]:
joblib.dump(scaler,'scaler.pkl')

['scaler.pkl']

In [45]:
x_scl_train.shape

(111, 4)